{
  "env": {
    "development": {
      "presets": [
        "@babel/env"
      ],
      "plugins": [
        "istanbul",
        "@babel/transform-runtime"
      ]
    },
    "build": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >= 7"
              ]
            },
            "exclude": [
              "@babel/plugin-transform-async-to-generator",
              "@babel/plugin-transform-regenerator"
            ],
            "modules": false,
            "loose": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
